      <div class="row">
        {% assign number=12 | divided_by:site.circles.size  %}
        {% assign counter=1 %}
        {% for link in site.circles %}
               <div class="col-marketing col-sm-{{ number | times:2 }} col-md-{{ number }}">
                  <img class="img-circle" src="{{ link.img }}" alt="{{ link.title }}" style="width: 140px; height: 140px;">
                  <h2>{{ link.title }}</h2>
                  <p>{{ link.description }}</p>
                  <a class="btn btn btn-primary" href="{{ link.href }}" role="button">{{ link.link }}</a>
               </div>
               {% assign counter=counter | plus:1 %}
        {% endfor %}
      </div>
