   <hr class="featurette-divider">
{% for link in site.features %}
       {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
       {% if thecycle == 'odd' %}
              <div class="row featurette">
                <div class="col-xs-9 col-md-9">
                  <h2 class="featurette-heading">{{ link.title }}</h2>
                  <div class="featurette-content">{{ link.content }}</div>
                </div>
                <div class="col-xs-3 col-md-3">
                  <img class="featurette-image img-responsive" src="{{ link.img }}" alt="{{ link.title }}">
                </div>
              </div>
       {% else %}
              <div class="row featurette">
                <div class="col-xs-3 col-md-3">
                  <img class="featurette-image img-responsive" src="{{ link.img }}" alt="{{ link.title }}">
                </div>
                <div class="col-xs-9 col-md-9">
                  <h2 class="featurette-heading">{{ link.title }}</h2>
                  <div class="featurette-content">{{ link.content }}</div>
                </div>
              </div>
       {% endif %}
   <hr class="featurette-divider">
{% endfor %}
