    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    
    <!-- SCRIPT CONTROL DE COOKIES -->
    <script type="text/javascript">
    $(function(){
       function controlcookies() {
         // si variable no existe se crea (al clicar en Aceptar)
         localStorage.controlcookie = (localStorage.controlcookie || 0);
         localStorage.controlcookie++; // incrementamos cuenta de la cookie
         cookie1.style.display='none'; // Esconde la política de cookies
       }
    });
    </script>

