/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}


/* CUSTOMIZE THE COOKIESBAR
-------------------------------------------------- */

#cookiesms1:target {
  display: none;
}

.cookiesms {
  font-size: 0.9em;
  font-weight: strong;
  text-align: center;
  color: #fff;
  background-color: #321640;
  opacity:0.7;
  filter:alpha(opacity=70); /* For IE8 and earlier */
  bottom: 0px;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  position: fixed; 
  padding: 3px 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  z-index:999999999;
}


/* CUSTOMIZE THE LOGO
-------------------------------------------------- */

.header-logo {
  position: relative;
  display: block;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.header-logo img {
  width: 25%;
}

.header-logo .header-company {
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-shadow: 0px 0px 20px #000;
  color: #fff;
  margin: 0px;
  padding-left: 1%;
  position: absolute;
  display: inline;
  top: 50%;
  transform: translateY(-50%);
}

.header-logo .header-text {
  text-shadow: 0px 0px 10px #000;
  font-weight: bold;
  color: #fff;
  margin: 0px;
  padding-left: 5%;
  position: absolute;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}

.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 0px;
}

.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

.carousel {
  height: 300px;
  margin-bottom: 30px;
}

.carousel-control .glyphicon {
  top: 80%;
}

.carousel-caption {
  z-index: 10;
  color: #0032A3;
  font-weight: bold;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
}

.carousel .item {
  height: 300px;
  background-color: #777;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  max-width: initial;
  height: 300px; 
}


/* MARKETING CONTENT
-------------------------------------------------- */

.marketing .col-marketing {
  text-align: center;
  padding: 0px 5px 50px 5px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-marketing p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.featurette-divider {
  margin: 20px 0;
}

.featurette-image {
  max-width: 250px;
  width: 80px;
  margin-top: 10%;
}

.featurette-content {
  text-align: justify;
}


/* footer
------------------------- */
footer {
  position:absolute;
  margin-top: 40px;
  right: 0;
  left:0;
  height: 50px;
  border-top: 1px solid rgba(225, 183, 27, 0.4);
  background: rgba(120, 90, 0, 0.24);
}

.footer-wrapper {
  padding-top: 10px;
  font-size: 1em;
}




/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 500px) {
  .header-logo img {
    width: 20%;
  }
  
  .header-logo .header-text {
    font-size: 1.3em;
    padding-left: 1%;
    display: inline;
    position: absolute;
    top: 75%;
  }
  
  .header-logo .header-company {
    font-size: 3em;
  }

  .featurette-image {
    width: 150px;
  }
  
  .footer-wrapper {
    font-size: 1.3em;
  }
}

@media (min-width: 768px) {
  .cookiesms {
    top: 0px;
    bottom: initial;
  }
  
  .header-logo .header-logo img {
    margin-top: 0px;
    width: 18%;
  }
  
  .header-logo .header-company {
    font-size: 3.5em;
  }

  .header-logo .header-text {
    font-size: 2em;
  }
  
  .carousel {
    height: 400px;
  }

  .carousel-caption {
    font-size: 2em;
  }

  .carousel .item {
    height: 400px;
  }
  
  .carousel-inner > .item > img {
    height: 400px;
  }
  
  .navbar-wrapper {
    margin-top: 20px;
  }
  
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
  
  .featurette-heading {
    font-size: 50px;
  }
  
  .featurette-image {
    width: 200px;
  }
}

@media (min-width: 1200px) {
  .header-logo .header-logo img {
    margin-top: 0px;
    width: 16%;
  }
  
  .header-logo .header-company {
    font-size: 4em;
  }

  .header-logo .header-text {
    font-size: 2.2em;
  }
  
  .featurette-image {
    width: 250px;
  }
}

